<% if session[:user_id] == @pytanie.id_autora %>
    <% if @pytanie.errors.any? %>
        <div class="alert alert-block">
          <ul>
            <% @author.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h2>Pytanie</h2>
    <%= form_for(@pytanie, :method => "post", :validate => true) do |f| %>
        <% if @pytanie.errors.any? %>
            <div id="error_explanation">
              <h2><%= "blad" %> nie pozwolil uzytkownikowi na zapis:</h2>
              <ul>
                <% @pytanie.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field control-group">
          <%= f.label "Treść" %>
          <%= f.text_area :tresc, :rows => 4, :class => "span10" %>
        </div>

        <div class="select-field">
          <%= f.label "Typ" %>
          <%= f.select(:id_typu, options_for_select(Typ.all.map { |t| [t.nazwa, t.id_typu] }, @pytanie.id_typu),
                       {})%>
        </div>

        <div class="select-field control-group">
          <%= f.label "Kategoria" %>
          <%= f.select :id_kategorii, options_for_select(Kategoria.all.map { |k| [k.nazwa, k.id_kategorii] }, @pytanie.id_kategorii),
                       {}%>
        </div>
        <div class="select-field control-group">
          <%= f.label "Punkty"%>
          <%= f.number_field :pkt, :class => "message" %>
        </div>


        <%= f.hidden_field :id_pyt %>

        <div style="height: 100px"></div>


        <%= f.fields_for(:odpowiedzi) do |builder| %>
            <%= render :partial => "odpowiedz_edit_form", :locals => { :pytanie => @pytanie, :f => builder } %>
        <% end %>



        <div>

          <%= button_to_add_fields "Dodaj odpowiedź", f, :odpowiedzi, "odpowiedz_edit_form" %>
          <div style="margin-top:50px">
          <%= f.submit "Zapisz", :class => 'btn btn-success span2' %>
          </div>
        </div>




    <% end %>


<% else %>
    To nie jest twój quiz.
<% end %>