<h3 class="header centered">Pytania dla <%= @quiz.nazwa %></h3>
<table class="table table-hover">
  <% for pytanie in @quiz.pytania %>
      <tr>
        <td>
          <%= link_to pytanie.tresc, pytanie_edit_path(:id_grupy => @quiz.id_grupy, :id_quizu => @quiz.id_quizu, :id_pyt => pytanie.id_pyt)%>
        </td>

        <% if @grupa.has_privileges? current_user,  :editing_and_deleting_quizzes %>
            <td>
              <%= link_to 'Edytuj', pytanie_edit_path(:id_grupy => @quiz.id_grupy, :id_quizu =>  @quiz.id_quizu, :id_pyt => pytanie.id_pyt),
                          :class => 'btn btn-info' %>
            </td>
        <% end %>
        <td>
          <%= link_to 'Ukryj', pytanie_edit_path(:id_grupy => @quiz.id_grupy, :id_quizu =>  @quiz.id_quizu, :id_pyt => pytanie.id_pyt),
                      :class => 'btn btn-warning' %>
        </td>
        <% if @grupa.has_privileges? current_user,  :editing_and_deleting_quizzes %>
            <td>
              <%= link_to 'Usuń', pytanie_destroy_path(:id_grupy => @quiz.id_grupy, :id_quizu =>  @quiz.id_quizu, :id_pyt => pytanie.id_pyt),
                          :class => 'btn btn-danger', :method => 'delete', :confirm => 'Jesteś pewny?' %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>
<% if @grupa.has_privileges? current_user, :creation_of_quizzes %>
    <div class="control-group">
      <%= link_to 'Nowe pytanie', pytanie_create_path(:id_grupy => @quiz.id_grupy, :id_quizu =>  @quiz.id_quizu), :class => 'btn btn-primary'%>
    </div>
<% end %>