<h1><%= @quiz.nazwa %></h1>
<ul>
<%= form_tag do %>
  <% for pytanie in @quiz.pytania %>
          <% if pytanie.wielokrotnego_wyboru? %>
            <%= render :partial => "multichoice_question", :locals => { :pytanie => pytanie } %>
          <% elsif pytanie.otwarte? %>
            <%= render :partial => "open_question", :locals => { :pytanie => pytanie } %>
          <% else %>
            <%= render :partial => "singlechoice_question", :locals => { :pytanie => pytanie } %>
          <% end %>
<% end %>
</ul>
<%= submit_tag "Wyslij" %>
<% end %>
