<%= params.inspect %>
<h1><%= @quiz.nazwa %></h1>
<ul>
<%= form_tag do %>
  <% for pytanie in @quiz.pytania %>
          <%= render :partial => "question", :locals => { :pytanie => pytanie, :score => params[:commit] } %>
<% end %>
</ul>
<% if params[:commit] %>
      <% controller.reset_session %>
      <%= button_to "Powrot", :action => :index %>
<% else %>
    <%= submit_tag "Wyslij" %>
<% end %>
<% end %>
