<div class="fields span12">
<div class="well span10" style="margin-left: 0px">
  <div class="field">
    <%=f.label :tresc_odp, "Treść odpowiedzi" %>
    <%= f.text_area :tresc_odp, :rows => 1, :class => "span11" %>
  </div>

  <div class="field">
    <%= f.label :komentarz, "Komentarz do odpowiedzi" %>
    <%= f.text_area :komentarz, :rows => 1, :class => "span11" %>
  </div>


  <div class="field">
    <%= f.label :poziom_poprawnosci, "Poziom poprawności", :class => "span2", :style => "padding-top: 5px" %>
    <%= f.number_field :poziom_poprawnosci, :class => "span1" %>
  </div>


  <div class="actions">
    <%#= f.submit "Zapisz", :class => 'btn btn-success span2' %>
    <%= f.hidden_field(:_destroy) + button_to_function("usun", "remove_fields(this)", :class => 'btn btn-danger span2') %>
  </div>
</div>
</div>

