<% if defined? f %>
<p>
    <div class="fields">
        <div class="field">
          Tresc odpowiedzi:
          <% if :ost_modyfikacja %>
              <br><%= f.object.tresc_odp %>
          <% else %>
            <%= f.text_area :tresc_odp, :size=> "60x2" %>
          <%end %>
        </div>

        <div class="field">
          <%= f.label :komentarz, "Komentarz do odpowiedzi" %>
          <%= f.text_area :komentarz,  :size => "60x1" %>
        </div>

        <div class="field">
          <%= f.label :poziom_poprawnosci, "Poziom poprawnosci" %>
          <%= f.text_field :poziom_poprawnosci, :size => 5 %>
        </div>


        <div class="actions">
          <%= f.submit "Zapisz", :class => 'btn btn-success' %>
        </div>
      <%= f.hidden_field(:_destroy) + link_to_function("usun", "remove_fields(this)") %>
    </div>


<%#= button_to "Usuń", odpowiedz_wzorcowa_url(odpowiedz, :odpowiedz_wzorcowa => odpowiedz.attributes), {:method => "delete", :class => 'btn btn-danger'} if odpowiedz.ost_modyfikacja %>
</p>
    <% else %>
    wtf
<% end %>