<h1 class="header">Rejestracja </h1>
<%= form_for @user, :url =>  {:controller => :uzytkownik, :action => :create},
                    :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :nazwa_uz, 'Nazwa użytkownika', :class => 'control-label', :for => 'inputNazwaUz'%>
      <div class="controls">
        <%= f.text_field :nazwa_uz, :id => 'inputNazwaUz', :placeholder => 'Nazwa użytkownika' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :login, 'Login', :class => 'control-label', :for => 'inputLogin'%>
      <div class="controls">
        <%= f.text_field :login, :id => 'inputLogin', :placeholder => 'Login' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :haslo, 'Hasło', :class => 'control-label', :for => 'inputPassword' %>
      <div class="controls">
        <%= f.password_field :haslo, :id => 'inputPassword', :placeholder => 'Hasło' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, 'Adres email', :class => 'control-label', :for => 'inputEmail'%>
      <div class="controls">
        <%= f.text_field :email, :id => 'inputLogin', :placeholder => 'Adres email' %>
      </div>
    </div>
    <div class="control-group" class="form-buttons-">
      <button type="submit" class="btn btn-primary" name='commit'>Zarejestruj</button> lub <%= link_to 'Zaloguj na już istniejące konto', new_sessions_path%>
    </div>
<%end %>