<h1>Rejestracja </h1>
<%= form_for Uzytkownik.new, :url =>  {:controller => :uzytkownik, :action => :create} do |f| %>
    <%=f.label :nazwa_uz, 'Nazwa użytkownika' %>:<%= f.text_field :nazwa_uz %> <br />
    <%=f.label :login, 'Login' %>:<%= f.text_field :login %>  <br />
    <%=f.label :haslo, 'Hasło' %>:<%= f.password_field :haslo %> <br />
    <%=f.label :email, 'Adres e-mail' %>:<%= f.text_field :email %> </br >
    <%= f.submit %>
<%end %>
