<div class="container-fluid">
  <div class="row-fluid">
    <h2 class="header centered">  <i> <%= @quiz.nazwa %> </i> ( id = <%= @quiz.id_quizu %> ) </h2>

    </br>

    <%= content_tag :h3 , "Obecny właściel", :class => "header centered" %>
    <div class="row-fluid text-center">
      <div class="control-group">
        <div class="controls form-inline offset3">
          <%= label_tag :id_uz, 'Id użytkownika' , :class => 'span3 no-margin-left' %>
          <%= label_tag :nazwa_uz, 'Nazwa użytkownika' , :class => 'span3 no-margin-left'  %>
          <%= label_tag :ranga, 'Ranga użytkownika' , :class => 'span3 no-margin-left'  %>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="control-group">
        <div class="controls form-inline offset3" id='current-owner'>
          <%= text_field_tag :id_uz, @current_owner.id_uz , :class => 'span3 normal-cursor text-center', :id => 'current-owner-id', :disabled => true, :placeholder => 'Id użytkownika' %>
          <%= text_field_tag :nazwa_uz, @current_owner.nazwa_uz , :class => 'span3 normal-cursor text-center', :id => 'current-owner-name', :disabled => true, :placeholder => 'Nazwa użytkownika' %>
          <%= text_field_tag :ranga, @current_owner.ranga , :class => 'span3 normal-cursor text-center', :id => 'current-owner-rank', :disabled => true, :placeholder => 'Ranga użytkownika' %>
        </div>
      </div>
    </div>
    </br>

    <%= content_tag :h3 , "Użytkownicy", :class => "header centered" %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>ID użytkownka</th>
        <th>Nazwa użytkownka</th>
        <th>Ranga</th>
      </tr>
      </thead>
      <% @available_users.each do |user| %>
          <tr class="user">
            <td class="id">
              <%= user.id_uz %>
            </td>
            <td class="name">
              <%= user.nazwa_uz %>
            </td>
            <td class="rank">
              <%= user.ranga %>
            </td>
          </tr>
      <% end %>
    </table>

    </br>
    <%= content_tag :h3 , "Nowy właściel", :class => "header centered" %>

    <%= form_tag limbo_transfer_quiz_ownership_url, :class => 'form-inline', :id => 'new-owner'  do %>

        <div class="row-fluid text-center">
          <div class="control-group">
            <div class="controls form-inline offset3">
              <%= label_tag :id_uz, 'Id użytkownika' , :class => 'span3 no-margin-left' %>
              <%= label_tag :nazwa_uz, 'Nazwa użytkownika' , :class => 'span3 no-margin-left'  %>
              <%= label_tag :ranga, 'Ranga użytkownika' , :class => 'span3 no-margin-left'  %>
            </div>
          </div>
     </div>
     <div class="row-fluid">
       <div class="control-group">
         <div class="controls form-inline offset3">
           <%= hidden_field_tag :owner_id, @current_owner.id_uz %>
           <%= text_field_tag :id_uz, @current_owner.id_uz , :class => 'span3 text-center', :id => 'owner-id', :disabled => true, :placeholder => 'Id użytkownika' %>
           <%= text_field_tag :nazwa_uz, @current_owner.nazwa_uz , :class => 'span3 text-center', :id => 'owner-name', :disabled => true, :placeholder => 'Nazwa użytkownika' %>
           <%= text_field_tag :ranga, @current_owner.ranga , :class => 'span3 text-center', :id => 'owner-rank', :disabled => true, :placeholder => 'Ranga użytkownika' %>
        </div>
      </div>
      <div class="control-group form-buttons">
        <button type="submit" class="btn btn-success" name='commit'>Zapisz zmiany</button>
        <%= link_to "Anuluj", grupa_limbo_url, :class => "btn btn-primary" %>
      </div>
     </div>
  </div>
 <% end %>
</div>