<h3 class="header centered">Quizy</h3>
<table class="table table-hover">
  <% for quiz in @quizzes %>
    <tr>
      <td>
        <%= link_to quiz.nazwa, quiz_url(:id => quiz.id_quizu)%>
      </td>
      <td>
        <%= link_to 'Info', quiz_info_url(:id_grupy => @grupa.id_grupy, :id =>  quiz.id_quizu),
                            :class => 'btn btn-info' %>
      </td>
      <% if @grupa.has_privilege? current_user, :edit %>
        <td>
            <%= link_to 'Edytuj', quiz_edit_url(:id_grupy => @grupa.id_grupy, :id =>  quiz.id_quizu),
                                 :class => 'btn btn-warning' %>
        </td>
      <% end %>
      <% if @grupa.has_privilege? current_user, :delete %>
          <td>
            <%= link_to 'Usuń', quiz_destroy_url(:id_grupy => @grupa.id_grupy, :id =>  quiz.id_quizu),
                                :class => 'btn btn-danger' %>
          </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if @grupa.has_privilege? current_user, :creation_of_quizzes %>
    <div class="control-group">
        <%= link_to 'Nowy quiz', '/quiz/new', :class => 'btn btn-primary'%>
    </div>
<% end %>