<h3 class="header centered">Quizy</h3>
<table class="table table-hover">
  <% for quiz in @quizzes %>
   <% if quiz.active? or @grupa.has_privileges? current_user,  :editing_and_deleting_quizzes %>
   <tr>
      <td>
        <%= if quiz.active? then link_to quiz.nazwa, quiz_url(@grupa, quiz) else quiz.nazwa end%>
      </td>
      <% if @grupa.has_privileges? current_user,  :editing_and_deleting_quizzes %>
          <td>
            <% if quiz.active? %>
                <%= link_to 'Ukryj', quiz_deactivate_url(@grupa, quiz), :class => 'btn btn-warning',
                                        :method => :put %>
            <% else %>
                <%= link_to 'Udostępnij', quiz_activate_url(@grupa, quiz), :class => 'btn btn-success',
                                         :method => :put %>
            <% end %>
          </td>
      <% end %>
      <td>
        <%= link_to 'Info', quiz_info_url(@grupa, quiz), :class => 'btn btn-info' %>
      </td>
      <% if @grupa.has_privileges? current_user,  :editing_and_deleting_quizzes %>
        <td>
            <%= link_to 'Edytuj', quiz_edit_url(:id_grupy => @grupa.id_grupy, :id_quizu =>  quiz.id_quizu),
                                 :class => 'btn btn-warning' %>
        </td>
      <% end %>
      <% if @grupa.has_privileges? current_user,  :editing_and_deleting_quizzes %>
          <td>
            <%= link_to 'Usuń', quiz_destroy_url(@grupa, quiz),
                                :class => 'btn btn-danger', :method => 'delete', :confirm => 'Jesteś pewny?' %>
          </td>
      <% end %>
    </tr>
  <% end %>
 <% end %>
</table>
 <% if @grupa.has_privileges? current_user, :creation_of_quizzes %>
    <%= button_to_function "Nowy quiz", "showw()", :class => "btn btn-primary"  %>
    <%= form_for :quiz, :url => {:controller => "quiz", :action => "create" } do |f| %>
        <div class="formshow" style="visibility: hidden">
          <%= f.label :nazwa, "Nazwa nowego quizu" %>
          <%= f.text_area :nazwa,  :size => "60x1" %>
          <%= f.hidden_field :id_wlasciciela, :value => session[:user_id] %>
          <%= f.hidden_field :id_grupy, :value => @grupa.id_grupy %>
        <div class="actions">
          <%= f.submit "Zapisz", :class => "btn btn-success" %>
        </div>
        </div>

    <% end %>
<% end %>