<h1 class="header">Grupa <%= @grupa.nazwa %></h1>
<ul class="nav nav-pills">
  <li class= "three-part-menu <%= active?(:quizy) ? 'active' : '' %>">
    <%= link_to "Quizy", quizy_path %>
  </li>
  <li class= "three-part-menu <%= active?(:uzytkownicy) ? 'active' : '' %>">
    <%= link_to "Użytkownicy", uzytkownicy_path %>
  </li>
  <li class= "three-part-menu <%= active?(:ranking) ? 'active' : '' %>">
    <%= link_to "Ranking", ranking_path %>
  </li>
</ul>
<div class="container-fluid">
  <div class="row-fluid">
    <%= render :partial => @what %>
  </div>
</div>
