<h1 style="text-padding:center">Grupa <%= @grupa.nazwa %></h1>
<div style="width: 600px; display: table;">
  <div style="display: table-row">
    <div style="text-align: center;width: 33.3%; display: table-cell;"> <%= link_to "Quizy", quizy_path %> </div>
    <div style="text-align: center;width: 33.3%; display: table-cell;"> <%= link_to "Uzytkownicy", uzytkownicy_path %></div>
    <div style="text-align: center;width: 33.3%; display: table-cell;"> <%= link_to "Ranking", ranking_path %></div>
  </div>
  <div style="display: table-row">
    <div id="content" style="display: table-cell;">
      <br />
      <%= render :partial => @what %>
    </div>
  </div>
</div>
